
stages: 
  - stage: PowerShellStaticAnalysis
    displayName: Static Analysis
    condition: succeeded()
    jobs: 
      - job: PSScriptAnalyzer
        displayName: PSScriptAnalyzer
        pool: 
          vmImage: windows-latest
        steps: 
          - powershell: |
              Install-Module -Name PSDevOps -Repository PSGallery -Force -Scope CurrentUser
              Import-Module PSDevOps -Force -PassThru
            displayName: InstallPSDevOps
          - powershell: |
              Install-Module -Name PSScriptAnalyzer -Repository PSGallery -Force -Scope CurrentUser
              Import-Module PSScriptAnalyzer -Force -PassThru
            displayName: InstallPSScriptAnalyzer
          - powershell: |
              Import-Module PSScriptAnalyzer, PSDevOps
              $invokeScriptAnalyzerSplat = @{Path='.\'}
              if ($ENV:PSScriptAnalyzer_Recurse) {
                  $invokeScriptAnalyzerSplat.Recurse = $true
              }
              $result = Invoke-ScriptAnalyzer @invokeScriptAnalyzerSplat
              
              foreach ($r in $result) {
                  if ('information', 'warning' -contains $r.Severity) {
                      Write-ADOWarning -Message $r.Message -SourcePath $r.ScriptPath -LineNumber $r.Line -ColumnNumber $r.Column
                  }
                  elseif ($r.Severity -eq 'Error') {
                      Write-ADOError -Message $r.Message -SourcePath $r.ScriptPath -LineNumber $r.Line -ColumnNumber $r.Column
                  }
              }
            displayName: RunPSScriptAnalyzer

  - stage: TestPowerShellCrossPlatform
    displayName: Test
    jobs: 
      - job: Windows
        displayName: Windows
        pool: 
          vmImage: windows-latest
        steps: 
          - powershell: |
              Install-Module -Name Pester -Repository PSGallery -Force -Scope CurrentUser
              Import-Module Pester -Force -PassThru
            displayName: InstallPester
          - powershell: |
              $orgName, $moduleName = $env:BUILD_REPOSITORY_ID -split "/"
              Import-Module ".\$moduleName.psd1" -Force -PassThru | Out-Host
              $result = 
                  Invoke-Pester -PassThru -Verbose -OutputFile ".\$moduleName.TestResults.xml" -OutputFormat NUnitXml `
                      -CodeCoverage "$(Build.SourcesDirectory)\*-*.ps1" -CodeCoverageOutputFile ".\$moduleName.Coverage.xml"
              if ($result.FailedCount -gt 0) {
                  throw "$($result.FailedCount) tests failed."
              }
            displayName: RunPester
          - task: PublishTestResults@2
            inputs: 
              testResultsFormat: NUnit
              testResultsFiles: "**/*.TestResults.xml"
              mergeTestResults: true
          - task: PublishCodeCoverageResults@1
            inputs: 
              codeCoverageTool: JaCoCo
              summaryFileLocation: "**/*.Coverage.xml"
              reportDirectory: $(System.DefaultWorkingDirectory)
      - job: Linux
        displayName: Linux
        pool: 
          vmImage: ubuntu-latest
        steps: 
          - script: |
              
              curl https://packages.microsoft.com/keys/microsoft.asc | sudo apt-key add -
              curl https://packages.microsoft.com/config/ubuntu/16.04/prod.list | sudo tee /etc/apt/sources.list.d/microsoft.list
              sudo apt-get update
              sudo apt-get install -y powershell
                  
            displayName: Install PowerShell Core
          - pwsh: |
              Install-Module -Name Pester -Repository PSGallery -Force -Scope CurrentUser
              Import-Module Pester -Force -PassThru
            displayName: InstallPester
          - pwsh: |
              $orgName, $moduleName = $env:BUILD_REPOSITORY_ID -split "/"
              Import-Module ".\$moduleName.psd1" -Force -PassThru | Out-Host
              $result = 
                  Invoke-Pester -PassThru -Verbose -OutputFile ".\$moduleName.TestResults.xml" -OutputFormat NUnitXml `
                      -CodeCoverage "$(Build.SourcesDirectory)\*-*.ps1" -CodeCoverageOutputFile ".\$moduleName.Coverage.xml"
              if ($result.FailedCount -gt 0) {
                  throw "$($result.FailedCount) tests failed."
              }
            displayName: RunPester
          - task: PublishTestResults@2
            inputs: 
              testResultsFormat: NUnit
              testResultsFiles: "**/*.TestResults.xml"
              mergeTestResults: true
          - task: PublishCodeCoverageResults@1
            inputs: 
              codeCoverageTool: JaCoCo
              summaryFileLocation: "**/*.Coverage.xml"
              reportDirectory: $(System.DefaultWorkingDirectory)
      - job: MacOS
        displayName: MacOS
        pool: 
          vmImage: macos-latest
        steps: 
          - script: |
              brew update
              brew tap caskroom/cask
              brew cask install powershell
            displayName: Install PowerShell Core
          - pwsh: |
              Install-Module -Name Pester -Repository PSGallery -Force -Scope CurrentUser
              Import-Module Pester -Force -PassThru
            displayName: InstallPester
          - pwsh: |
              $orgName, $moduleName = $env:BUILD_REPOSITORY_ID -split "/"
              Import-Module ".\$moduleName.psd1" -Force -PassThru | Out-Host
              $result = 
                  Invoke-Pester -PassThru -Verbose -OutputFile ".\$moduleName.TestResults.xml" -OutputFormat NUnitXml `
                      -CodeCoverage "$(Build.SourcesDirectory)\*-*.ps1" -CodeCoverageOutputFile ".\$moduleName.Coverage.xml"
              if ($result.FailedCount -gt 0) {
                  throw "$($result.FailedCount) tests failed."
              }
            displayName: RunPester
          - task: PublishTestResults@2
            inputs: 
              testResultsFormat: NUnit
              testResultsFiles: "**/*.TestResults.xml"
              mergeTestResults: true
          - task: PublishCodeCoverageResults@1
            inputs: 
              codeCoverageTool: JaCoCo
              summaryFileLocation: "**/*.Coverage.xml"
              reportDirectory: $(System.DefaultWorkingDirectory)

    condition: succeeded()
